/*========================================

	Colour Styles
	_____________
	

========================================*/

/*========================================

	Normal Colours

========================================*/

$whiteDefault: #ffffff;
$blackDefault: #000000; 

/*========================================

	Main Colours 

========================================*/

$primary: 		#2a2b2f; 
$secondary: 	#efefef; 
$error:         #FFBABA;

/*========================================

    Colour Variations

========================================*/

$secondaryVariation1:     #f2f2f2; 
