/*========================================

	Colour Styles
	_____________
	

========================================*/

/*========================================

	Normal Colours

========================================*/

$white-default:  #fff;
$black-default:  #000;

/*========================================

	Main Colours 

========================================*/

$primary:       #2a2b2f;
$secondary:     #efefef;
$grey:          #333;
$error:			#f00;

/*========================================

	Colour Variations

========================================*/

$grey-variation-1:		#dad8d9;
$grey-variation-2:		#d7d7d7;
$grey-variation-3:		#f9f9f9;
$grey-variation-4:		#f4f4f4;
