/*========================================

	Helper Styles
	_____________
	

========================================*/

.mb25 {
	margin-bottom: 25px;
}

.text-hidden {
	top: auto;
	width: 1px;
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
}
