/*========================================

	Typography Styles
	_____________


========================================*/

@mixin heading-font {
	font-family: 'Arial', sans-serif;
}

@mixin body-font {
	font-family: 'Georgia', serif;
}

body {
	@include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary;
	line-height: 1.4;
	@include heading-font;
}

h1 {
	margin-bottom: .5em;
	@include font-size(34);
}
